* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, sans-serif;
}

body {
  background-color: hsl(0, 0%, 95%);
}

h1 {
  padding: 20px;
  font-size: 2.5em;
  text-align: center;
  color: hsl(0, 0%, 20%);
}

form {
  margin: auto;
  padding: 20px;
  max-width: 450px;
  border-radius: 10px;
  color: hsl(0, 0%, 20%);
  box-shadow: 5px 5px 10px hsla(0, 0%, 0%, 0.3);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}

label {
  font-size: 2em;
  font-weight: 600;
}

input,
select {
  height: 40px;
  font-size: 1.5em;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 12px;
  border: 2px solid hsl(0, 0%, 90%);
  background-color: hsl(0, 0%, 98%);
}

#initial-deposit {
  width: 55%;
  padding-left: 20px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><text x="0" y="18" font-family="Arial" font-size="24" fill="hsl(0, 0%, 70%)">$</text></svg>');
  background-repeat: no-repeat;
  background-position: 10px 50%;
  background-size: 20px 20px;
}

#contribution-amount {
  width: 80%;
  padding-left: 20px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><text x="0" y="18" font-family="Arial" font-size="24" fill="hsl(0, 0%, 70%)">$</text></svg>');
  background-repeat: no-repeat;
  background-position: 10px 50%;
  background-size: 20px 20px;
}

#contribution-frequency {
  width: 85%;
}

#years-of-growth {
  width: 60%;
}

#rate-of-return {
  width: 55%;
  padding-left: 20px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><text x="0" y="18" font-family="Arial" font-size="24" fill="hsl(0, 0%, 70%)">%</text></svg>');
  background-repeat: no-repeat;
  background-position: 10px 50%;
  background-size: 20px 20px;
}

#compound-frequency {
  width: 90%;
}

button {
  border: none;
  font-size: 2em;
  margin-top: 12px;
  cursor: pointer;
  transition: 0.3s;
  padding: 8px 12px;
  border-radius: 5px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(211, 100%, 50%);
}

button:hover {
  background-color: hsl(211, 100%, 45%);
}

#total {
  font-size: 2em;
  margin-top: 20px;
}

#total-amount {
  font-weight: bold;
  color: hsl(211, 100%, 50%);
}
